body {
  margin: 0;
  align-items: center;
  height: 100vh;
  background: #222;
  color: #fff;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  max-width: 38rem;
  padding: 2rem;
}

.popup {
  background: #333;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

button {
  margin-top: 1rem;
  background: #555;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background: #777;
}

.custom-window-controls {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 10px;
  z-index: 9999;
}

.custom-window-controls button {
  background: #333;
  color: white;
  border: none;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.2s;
}

.custom-window-controls button:hover {
  background: #555;
}